# Dotenv file
*.env

# IDE folder
.idea/
.vscode/

# Python's venv
venv/
venv39/

# Python's cache
__pycache__/

# Ruff's cache
.ruff_cache/

# Logs folder
logs/

# Data folder
data/

# Docker compose file
docker-compose.yaml
